ion-slide {
    display: grid;
    margin-top: 15px;
}
.labelSlide{
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    background-color: #00000002;
    opacity: 0.4;
    margin-bottom: 38px;
}
.margin-slides {
    padding: 5px;
}

.img-poster {
    height: 160px !important;
    width: 210px !important;
}
.img-poster-2 {
    height: 500px !important;
    width: 850px !important;
}

.ion-slide {
    position: relative;
    top: -13%;
}
.ion-icon {
    height: 300px;
    font-size: 50px;
}